* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.menu-container {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding: 10px;
}

.header-container {
  background-color: gray;
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  background-image: url('../img/14710.jpg');
  background-size: cover;
  background-position: center;
  padding: 48px;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: flex-start;
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
}

.photo-grid-item {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  width: 250px;
  height: 250px;
}

.photo-grid-item p {
  font-size: 24px;
  color: black;
  font-weight: bold;
  text-align: center;
  background-color: lightgray;
  padding: 10px;
}

.footer {
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: whitesmoke;
  padding: 10px 0;
}

.credit {
  display: flex;
  justify-content: flex-end;
}

img {
  width: 100%;
  height: 100%;
}

a {
  color: black;
  font-size: 10px;
  text-decoration: none;
  text-align: right;
  margin: 10px 0;
}