* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;  
  color: black;
  background-color: gray;  /* Blue */
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding: 10px;
}