* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  display: flex;
  justify-content: center;
  background-color: whitesmoke;  /* Blue */
  padding: 20px 0;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding: 10px;
}

.header-container {
  background-color: gray;  /* Light Gray */
  display: flex;
  justify-content: center;
}

.header {
  width: 900px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.photo-grid-container {
  display: flex;
  justify-content: center;
  background-color: lightgray;
}

.photo-grid {
  width: 900px;
  display: flex;
  justify-content: flex-start;
  width: 900px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.photo-grid-item {
  border: 1px solid #fff;
  width: 300px;
  height: 300px;
}

.footer {
  display: flex;
  justify-content: center;  
  align-items: center;
  background-color: whitesmoke;  /* Blue */
  padding: 10px 0;
}